* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

h1 {
  text-shadow: 0 4px 15px rgba(0,0,0,0.3);
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}

h2 {
  margin-top: 1rem;
  text-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

body {
  font-family: Arial, sans-serif;
  max-width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to right top, #5c5e62, #56575a, #4f5053, #48494b, #424244, #464649, #494b4d, #4d4f52, #5c6064, #6a7276, #7a8587, #8a9897);
  text-shadow: 0 4px 15px rgba(0,0,0,0.3);

}
header{
  text-align: center;
}
main{
  display: block;
  justify-content: center;
}

#searchBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

form {
  display: flex;
  gap: 10px;
}
input{
  padding: 5px;
}


#error-message {
  color: red;
  min-height: 1.25rem;
}

ul{
  list-style: none;
}

#anime-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#anime-list li {
  text-align: center;
  list-style: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#anime-list li:hover {
  background-color: #262626;
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#anime-details {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

#anime-details image{
  object-fit: fill;
}

#anime-details h2,#anime-details p{
  padding-bottom: 30px;
}

#anime-heading{
  text-shadow: 0 4px 15px rgba(0,0,0,0.3);
  text-align: end;
}

#anime-details p{
  padding-top: 20px;
}

/* .hidden {
  display: none !important;
} */

dialog {
  width: 80%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  border: none;
  border-radius: 12px;
  margin: auto;
  background-color:  #5c5e62;
  font-family:'Courier New', Courier, monospace;
  font-size: medium;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.anime-characters{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}


.anime-characters li{
  background-color: #818388;
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h3{
  padding: 1rem;
}

.anime-characters li:hover {
  transform: scale(1.05);
}

.genre-list{
  display: inline-flex;
  gap: 20px;
}

.genre-list li{
  background-color: #262626;
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.genre-list li:hover{
  background: white;
  color: #4e54c8;
  transform: scale(1.05);
}

#rating {
  direction: rtl;
  display: inline-flex;
  gap: 0.2rem;
}

#rating input {
  display: none;
}

#rating label {
  transition: transform 0.15s ease, color 0.2s ease;
  font-size: 40px;
  font-size: 2rem;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s ease;
}

.submit-btn, .close {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 6px;
  background: #222;
  color: white;
  cursor: pointer;
}

#rating label:hover {
  transform: scale(1.2);
}

#rating input:checked ~ label,
#rating label:hover,
#rating label:hover ~ label {
  color: gold;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  #anime-list {
    padding: 1rem;
  }

  dialog {
    width: 95%;
  }
}
