* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  font-family: Arial, sans-serif;
  max-width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #747bff;
}
header{
  text-align: center;
}
main{
  display: block;
  justify-content: center;
}
#searchBar{
  display: inline;
  gap: 20px;
}


#error-message {
  color: red;
  min-height: 1.25rem;
}
ul{
  list-style: none;
}
#anime-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

#anime-list li {
  text-align: center;
  aspect-ratio: 1;
}

#anime-list li:hover {
  background-color: #f5f5f5;
}

#anime-details {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}
#anime-heading{
  text-align: end;
}

.hidden {
  display: none !important;
}

dialog {
    width: 80%;
    max-width: 800px;
    height: auto;
    max-height: 80%;
    overflow: auto;
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0003;
    z-index: 1000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (min-width: 600px) {
  #anime-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  #anime-list {
    grid-template-columns: repeat(3, 1fr);
  }
}